td {
    width: 11em;
    height: 3em;
    vertical-align: middle;
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    border: 1px solid grey;
    user-select: none;
    white-space: nowrap;
}
table {
    border: none;
    color: black;
}
table.red {
    border: 2px solid red;
}
table.blue {
    border: 2px solid blue;
}

td.grey {
    background-color: grey;
    color: white;
}
td.red {
    background-color: red;
    color: black;
}
td.green {
    background-color: green;
    color: white;
}
td.blue {
    background-color: blue;
    color: white;
}
td.beige {
    background-color: beige;
}

td.strike {
    text-decoration: line-through;
}